.container {
    padding: 0 30px;
}

.form {
    margin-bottom: 30px;
}

.form__input {
    padding: 8px;
    width: 300px;
    border: 1px solid rgba(75, 75, 75, 30%);
    border-radius: 5px 0 0 5px;
}

.form__button {
    font-size: 14px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 124, 16);
    border: 1px solid rgba(75, 75, 75, 30%);
    border-radius: 0 5px 5px 0;

    padding: 8px;
    cursor: pointer;
}

.form__button:hover {
    background-color:rgb(219, 100, 3);;
}

