.nav {
    padding: 30px;
    font-size: 24px;
    font-weight: 700;
    background-color: rgb(241, 241, 241);
    border-bottom: 1px solid rgba(75, 75, 75, 50%);

    margin-bottom: 30px;
}

.link:not(:last-child),
.active__link:not(:last-child) {
    margin-right: 25px;
}

.link {
    color: rgb(255, 124, 16);
    cursor: pointer;
    text-decoration: none;
}

.active__link {
    color: rgb(0, 0, 0);
    cursor: pointer;
}
